<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shizuwu.cn</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4B532B1F-C922-4E56-BA20-63899CA2EC57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3B88332-8269-4037-B1FF-CDF89D792C23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70FF3220-7754-4F27-B90F-B2B6A84740B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3B88332-8269-4037-B1FF-CDF89D792C23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8162861F-0C7B-48B4-AA88-295B6CE8CEDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>stuart</string>
	<key>description</key>
	<string>API搜索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>API</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70FF3220-7754-4F27-B90F-B2B6A84740B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>API数据已经更新好了</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8162861F-0C7B-48B4-AA88-295B6CE8CEDE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require_once('api.php');

echo App::getInstance()-&gt;updatejson();</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3B88332-8269-4037-B1FF-CDF89D792C23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>api</string>
				<key>runningsubtext</key>
				<string>正在加载...</string>
				<key>script</key>
				<string>require_once('api.php');

echo App::getInstance()-&gt;run('{query}');</string>
				<key>subtext</key>
				<string>搜索在线API</string>
				<key>title</key>
				<string>输入关键词</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>apisync</string>
				<key>runningsubtext</key>
				<string>正在载入...</string>
				<key>script</key>
				<string>require_once('api.php');

echo App::getInstance()-&gt;showOptions();</string>
				<key>title</key>
				<string>API数据管理</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B532B1F-C922-4E56-BA20-63899CA2EC57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>两个功能：

1、国内主流视频站的视频下载直链
Usage：dv http://www.youku.com/***

2、磁力搜索
Usage：mag 美国队长2</string>
	<key>uidata</key>
	<dict>
		<key>4B532B1F-C922-4E56-BA20-63899CA2EC57</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>70FF3220-7754-4F27-B90F-B2B6A84740B0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>8162861F-0C7B-48B4-AA88-295B6CE8CEDE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B3B88332-8269-4037-B1FF-CDF89D792C23</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>shizuwu.cn</string>
</dict>
</plist>
